#ul {
  list-style-type: none;
  background-color:  #A97155;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.menus {
	font-size: 16px;
	float: left;
	width: 130px;
}
.menus a {
	text-decoration: none;
	display: block;
	padding: 10px 16px;
	color: white;
	text-align: center;
}
.menus a:hover {
	background-color: #8FBDD3;
}
.menu {
	display: none;
	position: absolute;
	background-color: white;
	width: 130px;
}
.menu a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 10px 16px;
	text-align: center;
}
.menus:hover .menu {
	display: block;
}